button {
    color: white;
    border-radius: 8px;
    background-color: rgb(37, 37, 49);
    width: 8%;
    height: 3vw;
    font-size: 1.4vw;
    font-weight: 400;
    box-shadow: 5px 5px 8px rgb(212, 29, 29);
}